<mat-card>
  <mat-card-header>
    <mat-card-title>Fruits List</mat-card-title>
      <br>
    <mat-card-subtitle>Select a Fruit!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let fruit of fruits"
                     class="mat-list-option"
                     (click)="select(fruit)">
        <h4 mat-line>{{fruit.name}}</h4>
        <button mat-mini-fab
                (click)="remove(fruit.id);$event.stopImmediatePropagation()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>