<mat-card>
  <mat-card-header>
    <mat-card-title>Coin's List</mat-card-title>
      <br>
    <mat-card-subtitle>Select a Coin!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="mat-list-option" *ngFor="let coin of coins"
          (click)="selectCoinSubmit(coin)">
        <span matLine><strong>Name of Coin: </strong> {{coin.name}}</span>
        <span matLine><strong>Rank of Coin: </strong> {{coin.rank}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>