<mat-card>
  <mat-card-content>
    <form [formGroup]="detailsGroup" class="card-content">
      <mat-form-field>
        <h2>
          <input matInput formControlName="name" type="text" placeholder="Name of Coin">
        </h2>
      </mat-form-field>
      <mat-form-field>
        <h3>
          <input matInput formControlName="rank" type="text" placeholder="Coin Ranking">
        </h3>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="price_usd" type="text" placeholder="USD Price">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="percent_change_24h" type="text" placeholder="% Change in 24 hrs">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="percent_change_7d" type="text" placeholder="% Change in 7 days">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button color="accent" mat-raised-button (click)="resetForm()">reset</button>
  </mat-card-actions>
</mat-card>