<div class="wrapper" cdkDropListGroup>
    <h1>Sort the Drinks from Best to Worst</h1>
    <div class="firstDragDropList">
      <mat-card>
        <span *ngIf="worstLaptops; else loading">
          <h2>Worst</h2>
          <div class="sortList" 
              cdkDropList 
              [cdkDropListData]="worstLaptops"
              (cdkDropListDropped)="drop($event)">
            <div class="pop" *ngFor="let laptop of worstLaptops" cdkDrag>{{laptop.name}}</div>
          </div>
        </span>
        <ng-template #loading>
          <mat-spinner mode="indeterminate"></mat-spinner>
        </ng-template>
      </mat-card>
    </div>
  
    <div class="secondDragDropList">
      <mat-card>
        <span *ngIf="worstLaptops; else loading">
          <h2>Best</h2>
          <div class="sortList"
            cdkDropList
            [cdkDropListData]="bestLaptops"
            (cdkDropListDropped)="drop($event)">
            <div class="pop" *ngFor="let laptop of bestLaptops" cdkDrag>{{laptop.name}}</div>
          </div>
        </span>
        <ng-template #loading>
          <mat-spinner mode="indeterminate"></mat-spinner>
        </ng-template>
      </mat-card>
    </div>
  </div>