.wrapper {
    h1{
      grid-column: 5/9;
      grid-row: 1;
    }
    
      .firstDragDropList {
        grid-column: 2/7;
        grid-row: 2;
        
        .pop {
          height: 50px;
          // width: 40%;
          // margin-left: 20px;
          border: 1px solid #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
  
      .secondDragDropList {
        grid-column: 7/12;
        grid-row: 2;
        
        .pop {
          height: 50px;
          // width: 40%;
          // margin-left: 20px;
          border: 1px solid #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    
      .cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      .cdk-drag-animating {
        transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
      }
    }