mat-sidenav { 
    width: 200px;
    background: #1F1F1F;
}

.mat-sidenav-container {
    background: #1F1F1F;
    flex: 1;
}

.nav-link {
    color: white;
    background: #1F1F1F;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}